<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="userpost"><%= t('.all_posts') %></h1>
        <%= render 'shared/feed' %>
      </td>
    </tr>
  </table>