  <h1><%= t('.sample_app') %></h1>

  <p>
    <%= t('.tithome') %>
    <a href="http://railstutorial.org/"><%= t('.rortutorial') %></a>
  </p>

  <%= link_to t('.signup_now'), signup_path, :class => "signup_button round" %>