<h1><%= t('.help') %></h1>
<p>
  <%= t('.ghoror') %>
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  <%= t('.tghotsample_app') %>
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>