<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="userpost">New Post</h1>
        <%= render 'shared/userpost_form' %>
      </td>
    </tr>
  </table>
<% end %>